@font-face {
  font-family: "quick-l";
  src: url(/fonts/Quicksand_Light.otf) format('opentype');
}

@font-face {
  font-family: "quick-lo";
  src: url(/fonts/Quicksand_Light_Oblique.otf) format('opentype');
}

@font-face {
  font-family: "quick-k";
  src: url(/fonts/Quicksand_Book.otf) format('opentype');
}

@font-face {
  font-family: "quick-ko";
  src: url(/fonts/Quicksand_Book_Oblique.otf) format('opentype');
}

@font-face {
  font-family: "quick-b";
  src: url(/fonts/Quicksand_Bold.otf) format('opentype');
}

@font-face {
  font-family: "quick-bo";
  src: url(/fonts/Quicksand_Bold_Oblique.otf) format('opentype');
}


// ------------------------------------------

html {
  font-size: 15px; 
}

#imgbrand {
    max-width: 9rem;
}

#navbar a {
  color: white;
}

#inicio {
    background: url("../images/BG2.png");
    background-size: cover;
    height: 100vh;
}

#sobre {
  background: url("../images/BG3.png");
    background-size: cover;
    height: 100vh;
}

#bruna-foto {
  background: red;
    width: 18.6rem;
    height: 26.6rem;
    text-align: center;
    position: relative;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-nav {
    text-align: right;
}