@font-face {
  font-family: "quick-l";
  src: url(/fonts/Quicksand_Light.otf) format('opentype');
}

@font-face {
  font-family: "quick-lo";
  src: url(/fonts/Quicksand_Light_Oblique.otf) format('opentype');
}

@font-face {
  font-family: "quick-k";
  src: url(/fonts/Quicksand_Book.otf) format('opentype');
}

@font-face {
  font-family: "quick-ko";
  src: url(/fonts/Quicksand_Book_Oblique.otf) format('opentype');
}

@font-face {
  font-family: "quick-b";
  src: url(/fonts/Quicksand_Bold.otf) format('opentype');
}

@font-face {
  font-family: "quick-bo";
  src: url(/fonts/Quicksand_Bold_Oblique.otf) format('opentype');
}


// ------------------------------------------
#autora-txt {    
    display: inline-block;
}

#autora-txt p {    
    display: inline-block;
    max-width: 430px;	
    text-align: justify;
}

.b-desc {
    font-size: 13px;
}

.background {
    width: 100%;
    display: inline-block;    
    height: 100vh;
    position: absolute;
    left: 0;
}

#bg1 {
    background: url("/images/BG1.png") no-repeat;      
    background-size: cover;
	height: 100vh;
}

#bg2 {
    background: url("/images/BG3.png") no-repeat;   
    background-size: cover; 
}

#bg3 {
    background: url("/images/BG2.png") no-repeat;   
    background-size: cover; 
}

#bg4 {
    background: url("/images/BG3.png") no-repeat;   
    background-size: cover; 
}

#bio-cont{
    display: inline-block;
    margin: 10% 0 0 0;
	width: 100%;
	padding: 0;
}

#bio-cont div {
    padding: 0;
}

.bio-subt {
    font-family: "quick-b", "Trebuchet MS";
    font-size: 50px;
    margin: 0 0 10% 0;
}

#button {
    margin: 0;
    color: white;
    font-family: "quick-b", "Trebuchet MS";
    font-size: 12px;
}

.c-cat {
    font-family: "quick-b", "Trebuchet MS";
    font-size: 25px;
    padding-right: 10px;
    height: 100px;
}

.c-subcat {
    font-family: "quick-k", "Trebuchet MS";
    font-size: 15px;
    width: 235px;
}

.c-ctt {
    font-family: "quick-k", "Trebuchet MS";
    font-size: 12px;
    width: 235px;
}

#cabecalho {
    min-height: 30px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #020419;
    text-align: center;
    z-index: 1;
}

#cabecalho * {
    margin: 0;
    padding: 0;
}

#cabecalho a:hover {
	opacity: 0.5;
	background-color: #030732;
	text-decoration: none;
}

#cabecalho div {
    height: inherit;
}

#cabecalho p {
    display: inline-block;
    position: relative;
	top: 50%;    
	transform: translateY(-50%);
	text-align: center;
    color: #FFBA00;
}

.caixa {
    margin: auto;
    width: 80vw;
    position: relative;
}

.card {
	height: 100%;
}

.card-icon {
    display: inline-block;
    min-width: 60px;
	max-width: 70%;
    height: 65%;	
}

.card-logo {
    display: inline-block;
    min-width: 100px;
	width: 100%;
    height: 35%;	
}

.center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	display: block;
    margin: auto;
}

.container-fluid {
	padding: 0px;
}

#contato {
    padding-top: 7%;
}

#contato-txt {
	height: 90%;
}

#conteudo {
    position: relative;
    padding: 0;
}

.dir {
	margin-right: 0;
}

#gotoPac {
    border: 0 solid;
    border-radius: 30px;
    background-color: #030732;
    opacity: 0.8;
    width: 165px;
    height: 35px;
}

#home {
    height: 100vh; 
}

html, body { 
	height: 100%;    
    font-family: "Trebuchet MS";
}

.i-cat {
    font-family: "quick-b", "Trebuchet MS";
    font-size: 50px;
	margin: auto;
    height: 60px;
}

.i-subcat {
    font-size: 30px;;
	margin: auto;
    font-family: "quick-k", "Trebuchet MS"
}

#i1 p {
    padding-left: 10px;
}

#i2 p {    
    text-align: left;
}

.icon {
    width: 100%;
}

.icones {
    height: 50vw;
}

#ino-icon img {
	margin-top: 15px;
	width: 85%;
}

#ino-logo img {
	width: 85%;
}

.intro {
    margin: 10% 0 0 0;
    display: inline-block;
	height: 30vh;
	padding: 0px;
    text-align: left;
}

#itens {
    font-family: "quick-k", "Trebuchet MS";
    margin: auto;
    max-width: 80vw;
}

.little {
	font-size: 8px;
}

.logo {
    width: 100%;
    margin: auto;
}

#logo img {
    width: 125px;
}

.map {
	display: inline-block;
	padding: 5px;
	margin: 0% 7% 0% 7%;
}

.mbottom {
	margin-bottom: 5px;
}

.metade {
    padding: 0px;
}

nav {
    width: auto;
    height: inherit;
}

.navbar {
    position: relative;
    min-height: 30px;
    height: 50px;
    border: 0 solid transparent;
    border-radius: 0;
}

p {
    margin: 0;
    padding: 0;
}

.p-subcat {
    font-family: "quick-k", "Trebuchet MS";
    font-size: 17px;
	color: white;
}

.pack {
    padding: 0;
    margin: 0% 2% 2% 0%;
    border: 1px ridge black;
    border-radius: 5px;
    width: 47%;
    min-height: 45px;
	height: 178px;
    background-color: white;
}

.pack-line {
    max-height: 50vh;
    margin-top: 0%;
}

.pack-txt {
	margin: 15px 0px 10px 0px;
    font-size: 10px;
	font-weight: bold;
    text-align: left;
}

.pacotes {
    margin: 3% 0 0 0;
}

#planos-txt {
    margin: 5% 0 0 0;
}

#rodape {
	height: 20px;
}

#rodape div {
	text-align: center;
	font-size: 9px;
}

.row {
	margin: 0px;
    width: 100%;
}

.sect {    
    position: relative;
    height: 100vh;
    width: 100%;
}

#sobre-txt {    
    display: inline-block;
    margin: 0 0 0 0;
    text-align: justify;
}

#sobre-txt p {
    display: inline-block;
    max-width: 350px;
}

.titulo {
	font-size: 11px;
}

.x {
	margin: 30px 0px 0px 20px;
    width: 90%;
}

.y {
	width: 100%;
}